@mixin boarding--wrapper() {
	height: 36rem;
	width: 100%;
	p {
		font-color: black;
		font-size: 2rem;
		line-height: 2rem;
	}
}



.body {
	font-family: Futura, Helvetica, sans-serif;
	font-size: 16px;
	margin: 0;
	padding: 0;
}
.row {
	margin: 0;
	max-width: 100% !important;
}
.button {
	background-color: red !important;
}
.button:hover {
	background-color: pink !important;
}
.button-inactive {
	background-color: gray !important;
}
.button-submit {
	background-color: green !important;
}
.topnav {
	padding: .5rem 1rem;
	color: blue;
}
.onboard {
	background-image: url('../img/waterfrontProperties.jpg');
	background-position: 0 0;
	background-repeat: no-repeat;
	background-size: cover;
	height: 36rem;
	width: 100%;
	.onboard--heading {
		font-size: 4rem;
		line-height: 1rem;
		margin-top: 2rem;
		p {
			line-height: 4rem;
		}
	}
	p {
		color: white;
		text-align: center;
	}
	.button {
		margin-top: 5rem;
	}
}
.boarding {
	@include boarding--wrapper;
	div {
		text-align: center;
	}
	.boarding--heading {
		margin-top: 3rem;
		text-align: center;
		p {
			font-size: 2rem;
		}
	}
	.buttons-two {
		margin-top: 5rem;
		p {
			font-size: 1.5rem;
		}
	}

}
